.editor-styles-wrapper {
	.vkpdc {
		&_iframe-wrapper--archive img {
			height: 100%;
		}
		&_post {
			&_taxonomy,
			&_id {
				margin-bottom: .375rem;
			}
			a {
				pointer-events: none;
			}
		}
	
		&_button {
			&--copy {
				color: #fff;
			}
		}
	}
}