.vkpdc_posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--col-width-min, 300px), 1fr));
    gap: var(--gap, 1.5rem);
    row-gap: var(--gap-row, 1.5rem);
}

/* タブレット表示用のメディアクエリ */
@media (min-width: 768px) {
    .vkpdc_posts {
        grid-template-columns: repeat(auto-fit, minmax(var(--col-width-min-tablet, 300px), 1fr));
    }
}

/* PC表示用のメディアクエリ */
@media (min-width: 1024px) {
    .vkpdc_posts {
        grid-template-columns: repeat(auto-fit, minmax(var(--col-width-min-pc, 300px), 1fr));
    }
}
