.vkpdc_posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--col-width-min, 300px), 1fr));
    gap: var(--gap, 1.5rem);
    row-gap: var(--gap-row, 1.5rem);
    overflow: hidden;
}

@media (min-width: 576px) {
    .vkpdc_posts {
        grid-template-columns: repeat(auto-fit, minmax(var(--col-width-min-tablet, 300px), 1fr));
    }
}

@media (min-width: 992px) {
    .vkpdc_posts {
        grid-template-columns: repeat(auto-fit, minmax(var(--col-width-min-pc, 300px), 1fr));
    }
}
