:root {
	--brand-red-400: #E04349; 
    --brand-red-500: #d8141c;
	--brand-red-600: #A20F15; 
	--premium-color: #E2BB43;
	--premium-color-dark: #D5B13F;
	--transition-common: 0.5s;
	--border-color:#EEEEEE;
	--border-color-list:#E8E8E8;
}
@mixin a-link {
	text-decoration: underline dotted rgba(0, 0, 0, .3);
	text-underline-offset:2px;
	&:hover{
		color: var(--vk-color-text-link-hover);
		text-decoration: none;
	}
}
@mixin btn-brand-color {
	background-color: var(--brand-red-500);
	border-color:var(--brand-red-500);
	&:active,
	&:focus,
	&:hover{
		background-color: var(--brand-red-600);
	}
}
@mixin btn-brand-outline-color {
	color: var(--vk-color-text-body);
	border-color:#ced4da;
	background-color: #fff;
	i:before{//アイコン
		color: var(--brand-red-500);
	}
	&:active,
	&:focus,
	&:hover{
		color: #fff;
		background-color: var(--brand-red-500);
		border-color:var(--brand-red-500);
		transition: var(--transition-common);
		i:before{//アイコン
			color: #fff;
		}
	}
}
/* プレミアムパターンボタン */
@mixin btn-premium-color {
	background-color: var(--premium-color);
	border-color:var(--premium-color);
	color: var(--vk-color-text-body);
	&:active,
	&:focus,
	&:hover{
		background-color:var(--premium-color-dark);
		color: var(--vk-color-text-body);
	}
}
/* プレミアムパターンアウトラインボタン */
@mixin btn-premium-outline-color {
	color: var(--vk-color-text-body);
	border-color:#ced4da;
	background-color: #fff;
	i:before{//アイコン
		color: var(--premium-color);
	}
	&:active,
	&:focus,
	&:hover{
		color: var(--vk-color-text-body);
		background-color:var(--premium-color);
		border-color:var(--premium-color);
		transition: var(--transition-common);
		i:before{//アイコン
			color: var(--vk-color-text-body);
		}
	}
}